In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

POSTGRESQL_HOST = '10.129.0.25'

%load_ext sql

USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

%sql $CONNECT_DATA

1. For the given ticket_no  0005432312164, find: who and where flew.

(1.1) A query with subqueries (nested queries)

In [2]:
%%sql
SELECT 
    t.passenger_name,
    (SELECT a.city 
     FROM airports a 
     WHERE a.airport_code IN (
         SELECT f.departure_airport 
         FROM flights f 
         WHERE f.flight_id = tf.flight_id)) AS departure_city,
    (SELECT a.city 
     FROM airports a 
     WHERE a.airport_code IN (
         SELECT f.arrival_airport 
         FROM flights f 
         WHERE f.flight_id = tf.flight_id)) AS arrival_city
FROM tickets t, ticket_flights tf
WHERE t.ticket_no = '0005432312164' 
AND t.ticket_no = tf.ticket_no;

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('ALEKSEY GERASIMOV', 'Moscow', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Anapa', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Moscow'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Anapa')]

(1.2) A query with no subqueries and no joins

In [3]:
%%sql
SELECT t.passenger_name, dep.city AS departure_city, arr.city AS arrival_city
FROM flights f, tickets t, ticket_flights tf, airports dep, airports arr
WHERE t.ticket_no = '0005432312164'
AND t.ticket_no = tf.ticket_no
AND tf.flight_id = f.flight_id
AND f.departure_airport = dep.airport_code
AND f.arrival_airport = arr.airport_code

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('ALEKSEY GERASIMOV', 'Moscow', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Anapa', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Moscow'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Anapa')]

(1.3) A query with joins

In [4]:
%%sql
SELECT t.passenger_name, dep.city AS departure_city, arr.city AS arrival_city
FROM tickets t
JOIN ticket_flights tf ON t.ticket_no = tf.ticket_no
JOIN flights f ON tf.flight_id = f.flight_id
JOIN airports dep ON f.departure_airport = dep.airport_code
JOIN airports arr ON f.arrival_airport = arr.airport_code
WHERE t.ticket_no = '0005432312164';

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('ALEKSEY GERASIMOV', 'Moscow', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Anapa', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Moscow'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Anapa')]

2. Instead of airport codes output cities. Both, departure and arrival cities.

In [5]:
%%sql
SELECT dep.city AS departure_city, arr.city AS arrival_city
FROM flights f
JOIN ticket_flights USING (flight_id)
JOIN tickets t USING (ticket_no)
JOIN airports AS dep ON f.departure_airport = dep.airport_code
JOIN airports AS arr ON f.arrival_airport = arr.airport_code
WHERE t.passenger_name = 'ELLA DMITRIEVA';

 * postgresql://reader:***@10.129.0.25/demo
7 rows affected.

[('Moscow', 'Khanty-Mansiysk'),
 ('Khanty-Mansiysk', 'Moscow'),
 ('Moscow', 'Yekaterinburg'),
 ('Yekaterinburg', 'Moscow'),
 ('Yekaterinburg', 'Magnetiogorsk'),
 ('Magnetiogorsk', 'Yekaterinburg'),
 ('Moscow', 'Yuzhno-Sakhalinsk')]

3. Output a grid: Aircraft model/Total number of seats. Order by the number of seats.

In [6]:
%%sql
SELECT ac.model AS aicraft_model, COUNT(seat_no) AS total
FROM aircrafts ac
JOIN seats USING(aircraft_code)
GROUP BY ac.model
ORDER BY total desc

 * postgresql://reader:***@10.129.0.25/demo
9 rows affected.

[('Boeing 777-300', 402),
 ('Boeing 767-300', 222),
 ('Airbus A321-200', 170),
 ('Airbus A320-200', 140),
 ('Boeing 737-300', 130),
 ('Airbus A319-100', 116),
 ('Sukhoi Superjet-100', 97),
 ('Bombardier CRJ-200', 50),
 ('Cessna 208 Caravan', 12)]